:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --white-60: rgba(255, 255, 255, 0.6);

  --dark-bg-color: #2f303a;
  --primary-bg-color: #f5f4fa;

  --items: 4;
  --indent: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}

/* reset */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
  margin: calc(var(--indent) / 2);
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
}

a {
  color: inherit;
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.team-list {
  margin-top: -15px;
}

.logo {
  color: var(--accent-color);

  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
}

.half-logo {
  color: var(--black);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;

  background-color: var(--white);
  font-weight: 500;
}

.header-nav {
  display: flex;
  align-items: center;

  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list {
  display: flex;
  align-items: center;

  color: var(--title-text-color);
}

.header-list li:not(:last-of-type) .header-link {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-list .header-link:hover,
.header-list .header-link:focus,
.header-list .current-page {
  color: var(--accent-color);
}

.nav-list li:not(:last-of-type) .header-contact {
  margin-right: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact {
  display: flex;
  align-items: center;
}

.nav-list .header-contact:hover,
.nav-list .header-contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.envelope-contacts-icon {
  margin-right: 10px;
}

.smartphone-contacts-icon {
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--dark-bg-color);
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/webstudio/img4.jpg);
  background-color: #c4c4c4;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;

  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  border: none;
  cursor: pointer;
  text-align: center;
}

.order-button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  border-radius: 4px;

  color: var(--white);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.order-button:hover,
.order-button:focus {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}
.portfolio-images-section {
  padding-top: 0;
}

.advantages-list {
  display: flex;
}

.benefits {
  margin-top: 10px;

  line-height: 24px;
}

.advantages-item {
  margin-right: 30px;
  width: 270px;
}

.advantages-icon {
  display: flex;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  justify-content: center;
}

.advantages-item:last-child {
  margin-right: 0;
}

.filter-button {
  padding: 6px 22px 6px 22px;
  border-radius: 4px;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--primary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background-color: var(--accent-color);
}
.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.filter-list:last-child {
  margin-right: 0;
}

.button-item {
  margin-right: 8px;
}

.apps-list-item-subheader {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}

.section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  color: var(--title-text-color);
}

.section-title.skills {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
}

.team-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-section {
  background-color: var(--primary-bg-color);
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--white);
}

.section-title.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.constans-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}
.client-icon {
  fill: #afb1b8;
}

.client-icon:hover,
.client-icon:focus {
  fill: var(--accent-color);
}

.clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-item:hover,
.clients-list-item:focus {
  border: 1px solid var(--accent-color);
}

.images-container {
  padding-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.portfolio-images-list {
  display: flex;
  margin-bottom: 0;
}
.portfolio-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  background: var(--white);
}

.images-item {
  margin-right: 30px;
}

.portfolio-images-list .images-item:last-child {
  margin-bottom: 0;
  margin-right: 0;

  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
}

.section-title .item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.work {
  margin-bottom: 16px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
}
.social-media-icon {
  fill: #afb1b8;
}

.social-media-link:hover .social-media-icon,
.social-media-link:focus .social-media-icon {
  fill: var(--white);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--accent-color);
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

.footer-strong {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.footer-container {
  display: flex;
}

.footer-icons {
  margin-left: 70px;
  margin-top: 10px;
}

.social-footer {
  display: flex;
}

.social-footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}

.social-footer-item:hover,
.social-footer-item:focus {
  background-color: var(--accent-color);
}

.social-group-icon {
  fill: var(--white);
}

.apps-list {
  margin-top: -15px;
  --items: 3;
}

.apps-list-item-description {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.apps-list-item-header {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-link {
  color: var(--white-60);
  font-style: normal;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-color);
}

.footer-logo {
  margin-bottom: 20px;

  color: var(--accent-color);

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-half-logo {
  color: var(--white);
}

.footer-items {
  margin-right: auto;
}
.footer-link-item {
  margin-top: 9px;
}

.footer-address {
  margin-bottom: 9px;

  color: var(--white);

  font-style: normal;
  line-height: 2;
}
.address {
  margin-top: 20px;
}
